name: Rust

on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_dispatch:

jobs:
  lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          rustup install --profile=minimal stable
          rustup component add --toolchain stable-x86_64-unknown-linux-gnu rustfmt
      - run: cargo +stable fmt --check
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

  tests:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - run: rustup install --profile=minimal stable
      - uses: actions-rs/cargo@v1
        with:
          command: check
      - uses: actions-rs/cargo@v1
        with:
          command: test

  benchmarks:
    runs-on: ubuntu-latest
    if: github.base_ref != ''
    steps:
      - uses: actions/checkout@v6
      - run: rustup install --profile=minimal stable
      - uses: boa-dev/criterion-compare-action@v3
        with:
          features: bench
          branchName: ${{ github.base_ref }}
